/*CSS DOCUMENT*/

img {
    width: 100%; 
}

nav ul {
    padding: 0;
}
body{
    background-color: rgb(240,245,220);
}

nav ul li {
    display: inline;
    list-style-type: none;
    margin-right: 1em;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

nav ul li a {
    color: rgb(0,102,204);
    text-decoration: none;
}

nav ul li a:hover {
    color: rgb(255,153,153);
}

h2 {
    font-family: serif;
    color: rgb(0,102,204);
    font-size: 2.5em;
    
}

ul {
    list-style:none;
    padding: 0;
    
}

h3{
    font-family: sans-serif;
    color: rgb(0,102,204);
    font-size: 1.5em;
}

h4{
    font-family: sans-serif;
    color: rgb(255,102,102  );
    letter-spacing: .05em;
}

p{
    letter-spacing: .01em;
    font-family: serif;
    
}

footer {
    color: rgb(0,102,204);
    font-size: 1.3em;
}
/*Please don’t change this CSS stylesheet for the content hierarchy assginment */